{% extends 'base.html' %}
{% block title %}
Feed | Kids Zone
{% endblock %}
{% block status %}
<input type="text" class="w3-border w3-padding" placeholder="Status: Feeling Blue" style="margin-top: 15px;
margin-bottom: 15px; width:390px;">
              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
{% endblock %}
{% block feed %}
{% for post in posts %}
<div class="w3-card-2 w3-round w3-white" id="post-box">
            <div id="content"  >
                <span><h2><img id="avatar1" alt="Avatar" src="https://s-media-cache-ak0.pinimg.com/originals/f9/77/67/f97767b7a3294695cdf1f14b47f040d4.png"></h2></span>

                    <span><h2 id="user_name">       <a href="/login/feed/{{ post.user.username}}/" >{{post.user.username}}</a></h2></span>
<h3 id="date">{{post.user.created_on}}</h3>

    <img style="display:inline-block; width:350px; height:300px;"
             src="{{ post.image_url }}" alt="image not available"/><br>
        <span  style="display:inline-block;">{{ post.caption }}</span><br/><br/>
            <div style="display:inline-block">
                <p>{{ post.number_of_likes }} likes this</p>

        </div>



        <div style="display:inline-block">
            <form method="POST" action="/like/">
              {% csrf_token %}
              <input type="hidden" name="post" value="{{ post.id }}" />
                {% if post.has_liked %}
               <button type="submit" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-down"></i>  Unlike</button>

                {% else %}
                  <button type="submit" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
                {% endif %}
            </form>
        </div>
            <div>
           <form method="POST" action="/comment/">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}" />

                <input type="text" name="comment_text" id="comment_text" class="w3-container w3-padding" placeholder="Make a comment.." value="{{ comment_text }}">
                {{ comment_text }}
<button type="submit" id="comment_button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
            </form>
        </div>
            {% for comment in post.comments %}
                 <p><b>{{ comment.user.username }}[{{ comment.created_on }}]:</b> {{ comment.comment_text }}</p>
                 <p >
                    {{ comment.number_of_likes }}
                    </p>
                <form method="post" action="/upvote/">
                {% csrf_token %}
                <input type="hidden" name="comment" value="{{ comment.id }}">
                    {% if comment.has_upvoted %}
                <input type="submit" value="Downvote" >
                {% else %}
                <input type="submit" value="Upvote">
                {% endif %}
                <br>
                </form>
            {% endfor %}
                </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}