<!DOCTYPE html>
<html>
<head>
	<title>feed</title>
{#    <style>#}
{#        p{#}
{#            display: inline;#}
{#        }#}
{#    #header{#}
{#    width: 100%;#}
{#    height: 139px;#}
{#    background-color: black;#}
{#    overflow: hidden;  //code added to prevent scroll#}
{#}#}
{##}
{##}
{##left_side{#}
{#    width: 210px;#}
{#    height: auto;#}
{#    background-color:#EF3B3A;#}
{#    overflow:hidden;  //code added to prevent scroll#}
{#    position:fixed;#}
{#    font-size: 16px;#}
{#}#}
{##content{#}
{#     height: auto;#}
{#     padding: 20px;#}
{#    position: static;#}
{#     margin-left: 230px;#}
{#     margin-right: 20px;#}
{#    padding-bottom: 30px;#}
{#    overflow: auto;  //code added#}
{# }#}
{#    </style>#}
</head>
<body>

    <div id="header">
<a href ="/post/">
<input type="button" value="Create Post">
</a>
<a href={% url 'logout' %}>
    <input type="button" value="LOGOUT" >
</a>
</div>

    <div id="left_side">
        <ul>
            <li>Friends</li>
            <li>Settings</li>
            <li>Help</li>
        </ul>
    </div>
    {% for post in posts %}
<div id ='content'>

<h2>Posted By:  <a href="/login/feed/{{ post.user.username}}/" >{{post.user.username}}</a></h2>
<h3>{{post.user.created_on}}</h3>

    <img style="display:inline-block; width:350px; height:300px;"
             src="{{ post.image_url }}" alt="image not available"/><br>
        <span  style="display:inline-block;">{{ post.caption }}</span><br/><br/>
            <div style="display:inline-block">
                <p>{{ post.number_of_likes }} likes this</p>

        </div>



        <div style="display:inline-block">
            <form method="POST" action="/like/">
              {% csrf_token %}
              <input type="hidden" name="post" value="{{ post.id }}" />
                {% if post.has_liked %}
                <input type="submit" class="btn btn-default" value="Unlike">
                {% else %}
                <input type="submit" class="btn btn-default" value="Like">
                {% endif %}
            </form>
        </div>
            <div>
            <form method="POST" action="/comment/">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}" />
                <input type="text" name="comment_text" id="comment_text" placeholder="Make a comment.." value="{{ comment_text }}">
                {{ comment_text }}
                <input type="submit" class="btn-default btn" value="Comment">
            </form>

        </div>
            {% for comment in post.comments %}
                 <p><b>{{ comment.user.username }}[{{ comment.created_on }}]:</b> {{ comment.comment_text }}</p>
                 <p >
                    {{ comment.number_of_likes }}
                    </p>
                <form method="post" action="/upvote/">
                {% csrf_token %}
                <input type="hidden" name="comment" value="{{ comment.id }}">
                    {% if comment.has_upvoted %}
                <input type="submit" value="Downvote" >
                {% else %}
                <input type="submit" value="Upvote">
                {% endif %}
                <br>
                </form>
            {% endfor %}
{% endfor %}
        </div>
{#<div class ='pagination'>#}
{#            {% if recent_posts.has_previous %}#}
{#            <a href="?page={{ contacts.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
</div>

</body>
</html>